body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    background-image: url('fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
  }
  
  .container {
    max-width: 900px;
    margin: 40px auto;
    background: rgb(43, 57, 131);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 img {
    height: 110px;
    align-items: center;
  }
  
  h1, h3 {
    text-align: center;
    color: #ffffff;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input, button {
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    background-color: #0b07f3;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    color: #ffffff;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #1e78ff;
    color: white;
  }
  